/*Default Styling */
* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
}

/* Setting background color for the entire page */
body {
  background-color: #001e4d;
}

/* Styling the main application container */
.app {
  background-color: #fff;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}

/* Styling for headings in the application */
.app h1 {
  font-size: 25px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}

/* Styling for the quiz section */
.quiz {
  padding: 20px 0;
}

/* Styling for quiz headings */
.quiz h2 {
  font-size: 18px;
  color: #001e4d;
  font-weight: 600;
}

/* Styling for buttons throughout the application */
.btn {
  background: white;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

/* Styling for button hover state */
.btn:hover:not([disabled]) {
  background: #222;
  color: white;
}

/* Styling for disabled buttons */
.btn:disabled {
  cursor: no-drop;
}

/* Styling for the "next" button */
#next-btn {
  background: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

/* Styling for correct answer selections */
.correct {
  background: #9aeabc;
}

/* Styling for incorrect answer selections */
.incorrect {
  background: #ff9393;
}

/* Styling for the scoreboard container */
#scoreboard {
  max-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for scoreboard entry paragraphs */
#scoreboard p {
  margin: 5px 0;
}
